# ===== FastAPI =====
APP_NAME=GAS Auth Service
DEBUG=false
PORT=8001

# ===== Supabase =====
SUPABASE_URL=https://psiadtkmrxwxiknrstdf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzaWFkdGttcnh3eGlrbnJzdGRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzODczODcsImV4cCI6MjA4Njk2MzM4N30.sq2r0J5TO6UHVv00HrnhcQn4846Tqg9-hRhSxbje2GE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzaWFkdGttcnh3eGlrbnJzdGRmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTM4NzM4NywiZXhwIjoyMDg2OTYzMzg3fQ.6Tm9pNbqS2C2hZsLKfkicIWsR5k-NZdtTO2Nvnr7H_U
SUPABASE_JWT_SECRET=d86d19ef-7ba3-46f9-be3b-1796192ae7de

# ===== User Service =====
USER_SERVICE_URL=http://gas-user-service:8002

# ===== (Opsional) Redis =====
REDIS_URL=redis://localhost:6379/0

# ===== Logging =====
LOG_LEVEL=INFO
