REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Timeframes to generate from raw ticks
DEFAULT_TIMEFRAMES=["M1","M5","M15","H1","H4","D1"]
MAX_CANDLES_PER_KEY=1000

# Logging Options
LOG_LEVEL=INFO

# Healthcheck API Port
PORT=8010
